public net.minecraft.client.renderer.LevelRenderer destroyBlockProgress(ILjava/lang/Object;Lnet/minecraft/core/BlockPos;I)V
public net.minecraft.client.renderer.LevelRenderer destroyingBlocks

# Start of user code block custom ATs
# End of user code block custom ATs
